<html>
    <head>
        <title>Ansible</title>
    </head>
    
    <body bgcolor="black">
        <center>
            <br><br>
            <img src="https://miro.medium.com/max/6000/1*Ru-aZDBNv1NFV08tAFG43w.png" height=400 />
            <br>
            <h1><b><p style="color: gold;">I AM {{ ansible_hostname }}</p></b></h1>
            <h1><b><p style="color: gold;">Ansible Task</p></b></h1>
            <h1><p style="color: ivory;">Created a LoadBalancer and Dynamically Register WebServer IPs to it using Ansible</p></h1>
        </center>
    </body>
</html>